In [2]:
print('Hello world of ecology!')

Hello world of ecology!

In [6]:
# The above statement describes how to print output. print('Hello World')
# Code line 2
# Code line 3
# Code line 4

## Markdown

In [12]:
text = "Data Carpentry"
number = 42
pi_value = 3.1415

In [17]:
print(number)
number

42

42

In [19]:
2+2

4

In [21]:
6 * 7

42

In [23]:
2 ** 16

65536

In [25]:
13 % 5 #modulo

3

In [27]:
3 > 4

False

In [29]:
True and True

True

In [31]:
True or False

True

In [33]:
numbers = [1, 2, 3]

In [50]:
numbers[0]
numers = [1, 2, 3]

In [51]:
reset_selective numers

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [52]:
numers

NameError: name 'numers' is not defined

In [56]:
numbers[2]

5

In [60]:
numbers[4]

5

In [59]:
numbers = [1, 2, 3] + [4, 5, 6]

In [61]:
numbers = [1, 2, 3]

In [63]:
numbers

[1, 2, 3]

In [67]:
numbers.append(4)

In [70]:
print(numbers)

[1, 2, 3, 4, 4, 4]

In [104]:
bananas = "a fruit"

In [72]:
tuple = (1, 2, 3)

In [74]:
list = [1, 2, 3]

In [76]:
translation = {'one': 1, 'two': 2}

In [78]:
translation['one']

1

In [105]:
rev = {1: bananas, 2: 'two'}

In [106]:
rev

{1: 'a fruit', 2: 'two'}

In [82]:
rev[1]

'one'

In [84]:
bad = {[1,2,3]: 3}

TypeError: unhashable type: 'list'

In [86]:
type(rev.keys())

dict_keys

In [88]:
rev

{1: 'one', 2: 'two'}

In [90]:
rev[3] = 'three'

In [92]:
rev

{1: 'one', 2: 'two', 3: 'three'}

In [107]:
for key, value in rev.items():
    print(key, '->', value)

1 -> a fruit
2 -> two

In [110]:
def add_function(a, b):
    result = a + b
    return result

In [112]:
example = add_function(20, 22)

In [113]:
print(example)

42